* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('dollars.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#main-card {
    width: 50%;
    max-width: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border: 3px solid #18674a; */
    border-radius: 15px;
    background-color: rgb(24, 24, 24);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}


.currency-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

#from,
#to {
    height: 45px;
    width: 45%;
    font-size: 16px;
    border: 2px solid #18674a;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    padding-left: 10px;
    cursor: pointer;
}

#switch {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #18674a;
    border: none;
    border-radius: 90%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#switch:hover {
    background-color: #92bec2;
    transform: scale(1.1);
}


#switch::before {
    content: "🔄";
    font-size: 20px;
    /* color: white; */
}

#amount {
    height: 45px;
    width: 80px;
    font-size: 18px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 8px;
    margin-top: 15px;
}


#calculate {
    height: 45px;
    width: 80%;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #18674a;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 15px;
}


#calculate:hover {
    background-color: #92bec2;
    transform: scale(1.05);
}


#rate {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
}


#result {
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Lato:wght@300;400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

h1,
h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}